body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-around;
    height: 100%;
    background: #ffffff;
    color: #000000;
    padding: 10px 0;
    align-items: center;
}
nav {
    margin: 20px 0;
    font-family: 'Caveat',Arial, Helvetica, sans-serif;
}
nav ul {
    display: flex;
    list-style-type:none;
    font-size: 3rem;
}
nav a {
    color: #000000;
    text-decoration: none;
    padding: 0 15px;
}

nav a:hover {
    background-color: #ffffff ;
    padding: 10px;
    border-radius: 5px;
    color: #f2ae1a;
}
h1, h2, h3 {
    font-family: 'Caveat',Arial, Helvetica, sans-serif;
}
p{
    font-family: 'Comfortaa',Arial, Helvetica, sans-serif;
}
main {
    padding: 20px;
} 
#katieName {
    color: #f2ae1a;
}
/* Top Containers */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: auto;  
}
header h1 {
    font-size: 4rem;
    text-transform: uppercase;
    margin: 0;
    margin: 0;
}
.logoContainer{
    display: flex;
    align-items: center;
}
.logoContainer img {
    width: 30vh;
    height: 30vh;
    margin-right: -3rem;
}
.firstDiv {
    width: 100%;
    height: 50vh;
    background-image: url(images/sconesCopy.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 15px 0;
    padding: 15px;
}
.firstDiv h1 {
    text-align: center;
    font-size: 40px;
    padding: 10px 10px;
    margin: 15px;
    background-color: rgb(255, 255, 255);
    color:rgb(94, 57, 3);
    border-radius: 5px;
    text-transform: uppercase;
}
.firstDiv h3 {
    text-align: center;
    font-size: 3rem;
    color: rgb(122, 62, 252);
    margin-top: 20px auto;
}
.secondDiv {
    width: 100%;
    border: 2px solid rgb(94, 57, 3);
    background-color: #f4f4f4;
    border-radius: 5px;
    margin: 10px auto;
    padding: 10px;
}
.thirdDiv {
    width: 60%;
    border: 2px solid rgb(94, 57, 3);
    background-color: #f4f4f4;
    border-radius: 5px;
    margin: 0 20px;
    padding: 10px;
}
#myShoes{
    width: 60%;
}
.secondDiv h1 {
    color: rgb(94, 57, 3);
    text-align: center;
    font-size: 4rem;
    text-decoration: underline;
}
.secondDiv p{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
}
.thirdDiv h1 {
    color: rgb(94, 57, 3);
    text-align: center;
    font-size: 4rem;
    text-decoration: underline;
}
.thirdDiv p {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
}

/*Menu Container*/
.menu{
    width: 100%;
    background-color: rgb(220, 220, 220);
    color: rgb(94, 57, 3);
    padding: 10px 10px;
    margin: 20px 0;
    text-align: center;
    border-radius: 5px;
}  
.menu h1 {
    font-size: 3rem;
    text-transform:uppercase;
}
.menu ul {
    list-style-type: none;
    font-size: 2rem;
}
.menu li {
    padding: 10px;
}
.menu p {
    font-size: 2rem;
    text-decoration: underline;
}
/*Footer*/
footer {
    font-size: 1.5rem;
    text-align: center;
    padding: 10px 0;
    background: #64696d;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}